nav{
    width: 100%;
    float: right;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 10px;
    background-color: aqua;
}

ul{
    float: right;
    justify-content:space-evenly;
    align-items: center;
    padding:0 20px;
}
a{
    font-size: large;
    font-weight:bolder;
    text-decoration: none;
    color: black;
    padding:10px 20px;
}
a:hover{
    background-color: rgb(0, 110, 255);
    color: white;
}